body{
    background: linear-gradient(rgba(0,0,0, .7), rgba(0,0,0, .7)), url('1619584670_11-phonoteka_org-p-fon-dlya-eksel-12.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
}
p{
    font-size: 1.7em;
    text-align: justify;
}
.doc{
    display: flex;
    margin: 10px auto;
    width: 64%;
    flex-wrap: wrap;
}
.tasks{
    background: white;
    margin:30px;
    padding: 20px 10px;
    width: 20em;
    height: 23em;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
button{
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(rgba(255,255,0, .8), rgba(28, 212, 68, .8));
    box-shadow: 6px 6px 10px black;
}
button:active{
    transform: translateY(3px);
    box-shadow: 3px 3px 5px black;
}
.right{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}
.red{
    color: red;
}
.blockdiv{
    width: 30%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
}
.blockdiv input {
    width: 100%;
    font-family: Tahoma;
    font-size: 1.3em;
    height: 3em;
    border-radius: 10px;
    border: none;
    padding: 0 20px;
    background-color: gainsboro;
}
.blockdiv input:focus,
.blockdiv textarea:focus{
    outline: 0;
}
.blockdiv textarea {
    margin-bottom: 1.5em;
    width: 100%;
    font-family: Tahoma;
    font-size: 1.3em;
    height: 10em;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    background-color: gainsboro;
}
.blockdiv input[type="submit"]{
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(rgba(255,255,0, .8), rgba(28, 212, 68, .8));
    box-shadow: 6px 6px 10px black;
}
.blockdiv input[type="submit"]:active{
    transform: translateY(3px);
    box-shadow: 3px 3px 5px black;
}
.znak{
    font-size: .7em;
}
.znak:hover::after{
    content: 'Если имя файла был указан как путь, то этот пункт не обязательный';
    position: absolute;
    margin-left: 10px;
    width: 200px;
    transition: all 1s;
    background-color: rgba(189, 189, 189, 0.7);
    border-radius: 10px;
    padding: 4px;
}
input[name="delete"]{
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(rgba(255, 0, 0, 1), rgba(223, 0, 0, 1));
    box-shadow: 6px 6px 10px black;
}
input[name="delete"]:active{
    transform: translateY(3px);
    box-shadow: 3px 3px 5px black;
}